{% extends 'secret/layout.html' %}
{% load i18n %}
{% load static %}
{% block title %}Home{% endblock %}

{% block content %}
<div class="page-header">
    <h3 class="page-title">
        <span class="page-title-icon bg-gradient-primary text-white mr-2">
            <i class="mdi mdi-home"></i>
        </span> {% trans 'Annoucement' %}
    </h3>
    <nav aria-label="breadcrumb">
        <ul class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">
                <a class="btn btn-sm btn-gradient-primary" href="{% url 'secret:anno-add' %}"><i class="mdi mdi-plus"></i>{% trans "New Annoucement" %}</a>
            </li>
        </ul>
    </nav>
</div>

<div class="row" id="vue">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">{% trans "All Annoucements" %}</h4>
                <p class="card-description"> {% trans "All annoucement is here. This will be visible on dashboard on user and label panels. Check it out and add or delete" %}
                </p>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>{% trans "Title" %}</th>
			    <th>{% trans "Content" %}</th>
			    <th>{% trans "Creator" %}</th>
			    <th>{% trans "Date" %}</th>
			    <th>{% trans "Ops" %}</th>
                        </tr>
                    </thead>
                    <tbody>
			{% for a in object_list %}
			<tr>
			    <td>{{ a.title }}</td>
			    <td>{{ a.content }}</td>
			    <td>{{ a.creator.username }} <small class="text-muted">({{ a.creator.email  }})</small></td>
			    <td>{{ a.date }}</td>
			    <td>
				<div class="row float-left">
				    <div class="col">
					<form method="post" ref="deleteForm" action="{% url 'secret:anno-delete' a.pk %}" class="m-0">
					    {% csrf_token %}
					</form>
					<button class="btn btn-sm btn-outline-danger" @click="confirmMsg"><i class="mdi mdi-delete-forever text-danger"></i></button>
				    </div>
				</div>
			    </td>
			</tr>
			{% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
 app = new Vue({
     el: '#vue',
     delimiters: ['[[', ']]'],
     data: {
	 confirm: false,
     },
     methods: {
	 confirmMsg() {
             this.$bvModal.msgBoxConfirm('Please confirm that you want to delete everything.', {
		 title: 'Please Confirm',
		 size: 'sm',
		 buttonSize: 'sm',
		 okVariant: 'danger',
		 okTitle: 'YES',
		 cancelTitle: 'NO',
		 footerClass: 'p-2',
		 hideHeaderClose: false,
		 centered: true
             })
		 .then(value => {
		     this.confirm = value
		     if (this.confirm) {
			 this.$refs.deleteForm.submit()
		     }
		 })
		 .catch(err => {
		     // An error occurred
		 })
	 }
     }
 })
</script>
{% endblock %}
