{% extends 'secret/layout.html' %}
{% load i18n %}
{% load static %}
{% block title %}Home{% endblock %}

{% block content %}
<div class="page-header">
    <h3 class="page-title">
        <span class="page-title-icon bg-gradient-primary text-white mr-2">
            <i class="mdi mdi-home"></i>
        </span> {% trans 'ContentID Requests' %}</h3>
</div>

<div class="row" id="vue">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">{% trans "All Requests" %}</h4>
                <p class="card-description"> {% trans "All removal requests is here. Check it out and confirm or reject with action buttons" %}
                </p>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>{% trans "User" %}</th>
			    <th>{% trans "Title" %}</th>
			    <th>{% trans "URL" %}</th>
			    <th>{% trans "Status" %}</th>
			    <th>{% trans "Ops" %}</th>
                        </tr>
                    </thead>
                    <tbody>
			{% for cid in object_list %}
			<tr>
			    <td>{{ cid.user.username }} <small class="text-muted">({{ cid.user.email  }})</small></td>
			    <td>{{ cid.title }}</td>
			    <td>{{ cid.url }}</td>
			    <td>{% if cid.status == 0 %}<label class="badge badge-danger">{% trans "Pending" %}</label>{% endif %}{% if cid.status == 1 %}<label class="badge badge-success">{% trans "Removal Request Received" %}</label>{% endif %}</td>
			    <td>
				<div class="row float-left">
				    <div class="col">
					<form method="post" action="{% url 'secret:contentID-update' cid.pk %}">
					    {% csrf_token %}
					    <input value="1" type="hidden" name="status"/>
					    <button class="btn btn-sm btn-outline-success" type="submit" value="Update"><i class="mdi mdi-check text-success"></i></button>
					</form>
				    </div>
				    <div class="col">
					<form method="post" ref="deleteForm" action="{% url 'secret:contentID-delete' cid.pk %}" class="m-0">
					    {% csrf_token %}
					</form>
					<button class="btn btn-sm btn-outline-danger" @click="confirmMsg"><i class="mdi mdi-delete-forever text-danger"></i></button>
				    </div>
				</div>
			    </td>
			</tr>
			{% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
 app = new Vue({
     el: '#vue',
     delimiters: ['[[', ']]'],
     data: {
	 confirm: false,
     },
     methods: {
	 confirmMsg() {
	     this.$bvModal.msgBoxConfirm('{% trans "Please confirm that you want to delete this." %}', {
		 title: '{% trans "Please Confirm" %}',
		 size: 'sm',
		 buttonSize: 'sm',
		 okVariant: 'danger',
		 okTitle: '{% trans "YES" %}',
		 cancelTitle: '{% trans "NO" %}',
		 footerClass: 'p-2',
		 hideHeaderClose: false,
		 centered: true
             })
		 .then(value => {
		     this.confirm = value
		     if (this.confirm) {
			 this.$refs.deleteForm.submit()
		     }
		 })
		 .catch(err => {
		     // An error occurred
		 })
	 }
     }
 })
</script>
{% endblock %}
