{% extends 'secret/layout.html' %}
{% load i18n %}
{% load static %}
{% block title %}Home{% endblock %}

{% block content %}
<div class="page-header">
    <h3 class="page-title">
        <span class="page-title-icon bg-gradient-primary text-white mr-2">
            <i class="mdi mdi-home"></i>
        </span> {% trans 'Distribution' %}</h3>
    <nav aria-label="breadcrumb">
        <ul class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">
                <a class="btn btn-sm btn-gradient-primary" href="{% url 'panel:addDist' %}"><i class="mdi mdi-plus"></i>{% trans "New Distribution" %}</a>
            </li>
        </ul>
    </nav>
</div>

<div class="row">
    <div class="col-12 grid-margin stretch-card">
        <div class="card mb-4">
	    <div class="card-body">
		<h5 class="card-title">Distribution Detail #{{ object.pk }}</h5>
		<div class="row">
		    <div class="col-2">
			<img src="/{{ object.artwork }}" class="rounded-0" style="max-width: 13rem;"></img>				    
		    </div>
		    <div class="col-4">
			<h5>{{ object.title }}</h5>
			<h6 class="text-muted">{{ object.artist }}</h6>
			<div class="list-group list-group-flush">
			    <br>Label:  {{object.recordLabel}}</br>
			    <br>Genre: {{object.genre}} {{object.subgenre}}</br>
			    <br>Release: {{ object.releaseDate }}</br>
			    <div class="col-12 p-0">
				Platforms: 
				{% for platform in object.platforms.all %}
				<span class="badge badge-secondary">{{ platform.name }}</span>
				{% endfor %}
			    </div>
			</div>
		    </div>
		    <div class="col-6">
			<h6>Tracks</h6>
			<table class="table table-striped">
			    <thead>
				<tr>
				    <th scope="col">#</th>
				    <th scope="col">{% trans "Name" %}</th>
				    <th scope="col">{% trans "Size" %}</th>
				</tr>
			    </thead>
			    <tbody>
                                {% for track in object.tracks.all %}
				<tr>
				    <th scope="row">{{ track.number }}</th>
				    <td>{{ track.name }}</td>
				    <td>{{ track.media.size }} B</td>
				</tr>
                                {% endfor %}
			    </tbody>
			</table>
		    </div>
		</div>
		
		
	    </div>
	</div>
    </div>
</div>
{% endblock %}

{% block script %}
{% endblock %}
