{% extends 'secret/layout.html' %}
{% load i18n %}
{% load static %}
{% block title %}Home{% endblock %}

{% block content %}
<div class="page-header">
    <h3 class="page-title">
        <span class="page-title-icon bg-gradient-primary text-white mr-2">
            <i class="mdi mdi-home"></i>
        </span> {% trans 'Distribution' %}</h3>
    <nav aria-label="breadcrumb">
        <ul class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">
                <a class="btn btn-sm btn-gradient-primary" href="{% url 'panel:addDist' %}"><i class="mdi mdi-plus"></i>{% trans "New Distribution" %}</a>
            </li>
        </ul>
    </nav>
</div>

<div class="row">
    <div class="col-12 grid-margin stretch-card">
        <div class="card mb-4">
	    <div class="card-body">
		<h5 class="card-title">{% trans "Distribution Detail" %} #{{ object.pk }}</h5>
		<div class="row">
		    <div class="col-2">
			<img src="{{ object.artwork.url }}" class="rounded-0" style="max-width: 13rem;"></img>				    
		    </div>
		    <div class="col-4">
			<h5>{{ object.title }}</h5>
			<h6 class="text-muted">{{ object.artist }}</h6>
			<div class="list-group list-group-flush">
			    <br>{% trans "Label" %}:  {{object.recordLabel}}</br>
			    <br>{% trans "Genre" %}: {{ object.genre.name }}</br>
			    <br>{% trans "Release" %}: {{ object.releaseDate }}</br>
			    <div class="col-12 p-0">
				{% trans "Platforms" %}: 
				{% for platform in object.platforms.all %}
				<span class="badge badge-secondary">{{ platform.name }}</span>
				{% endfor %}
			    </div>
			    <div class="col-12 p-0">
				{% trans "Status" %}:
				{% if object.status == 0 %}
				<label class="badge badge-warning">{% trans "Pending" %}</label>
				{% endif %}
				{% if object.status == 1 %}
				<label class="badge badge-info">{% trans "in Progress" %}</label>
				{% endif %}
				{% if object.status == 2 %}
				<label class="badge badge-success">{% trans "Confirmed" %}</label>
				{% endif %}
				{% if object.status == 3 %}
				<label class="badge badge-danger">{% trans "Rejected" %}</label>
				{% endif %}
			    </div>
			</div>
		    </div>
		    <div class="col-6">
			<h6>{% trans "Tracks" %}</h6>
			<table class="table table-striped">
			    <thead>
				<tr>
				    <th scope="col">#</th>
				    <th scope="col">{% trans "Name" %}</th>
				    <th scope="col">{% trans "Size" %}</th>
				    <th scope="col">{% trans "Op" %}</th>
				</tr>
			    </thead>
			    <tbody>
                                {% for track in object.tracks.all %}
				<tr>
				    <th scope="row">{{ track.number }}</th>
				    <td>{{ track.name }} {% if track.OtherArtists %}feat.
					{% for oartist in track.OtherArtists.all %}
					{% if forloop.last %}
					{{ oartist.artist }} <small class="text-muted">({{ oartist.rate }}%)</small>
					{% else %}
					{{ oartist.artist }} (%{{oartist.rate}}),
					{% endif %}
					{% endfor %}
					{% endif %}</td>
				    <td>{{ track.media.size }} B</td>
				    <td>
					<a href="{{ track.media.url }}" download><i class="mdi mdi-cloud-download mdi-2x text-primary"></i></a>
				    </td>
				</tr>
                                {% endfor %}
			    </tbody>
			</table>
				    </div>
		    <div class="col-12">
			<div class="col p-0">
			    <form method="post" action="{% url 'secret:distribution-update' object.pk %}">
				{% csrf_token %}
				<input value="2" type="hidden" name="status"/>
				<button class="float-right btn-lg btn-gradient-success ml-1" type="submit" value="Update"><i class="mdi mdi-check"></i>{% trans "Confirm" %}</button>
			    </form>
			</div>
			<div class="col p-0">
			    <form method="post" action="{% url 'secret:distribution-update' object.pk %}">
				{% csrf_token %}
				<input value="1" type="hidden" name="status"/>
				<button class="float-right btn-lg btn-gradient-info ml-1" type="submit" value="Update"><i class="mdi mdi-clock-fast"></i>{% trans "in Progress" %}</button>
			    </form>
			</div>

			<div class="col p-0">
			    <form method="post" action="{% url 'secret:distribution-update' object.pk %}">
				{% csrf_token %}
				<input value="3" type="hidden" name="status"/>
				<button class="float-right btn-lg btn-gradient-danger ml-1" type="submit" value="Update"><i class="mdi mdi-window-close"></i>{% trans "Reject" %}</button>
			    </form>
			</div>
		    </div>
		</div>
		
		
	    </div>
	</div>
    </div>
</div>
{% endblock %}

{% block script %}
{% endblock %}
