{% extends 'secret/layout.html' %}
{% load i18n %}
{% load static %}
{% block title %}Home{% endblock %}

{% block content %}
<div class="page-header">
    <h3 class="page-title">
        <span class="page-title-icon bg-gradient-primary text-white mr-2">
            <i class="mdi mdi-home"></i>
        </span> {% trans 'Genre' %}</h3>
</div>

<div class="row" id="vue">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">{% trans "Create Genre" %}</h4>
                <p class="card-description"> {% trans "All genres in here. Subgenres can be create via selecting parent." %}
                </p>

		<form id="form" @submit.prevent="addCategory">
		    <div class="row pt-2">
			<div class="col-6 mb-4">
			    <label for="id_parent">{% trans 'Parent' %}:</label>
			    <treeselect
				v-model="parent"
				:options="categories"
				:disable-branch-nodes="false"
				:show-count="true"
				placeholder="{% trans 'Select Genre...' %}"
				:normalizer="normalizer"
			    >
				<treeselect/>
			</div>
			
			<div class="form-group col-6">
			    <label for="id_name"><label for="id_name">{% trans 'Genre Name' %}: </label></label>
			    <input type="text" v-model="name" maxlength="100" class="form-control" required id="id_name">
			</div>
			
			<div class="col text-right">
			    <button class="btn btn-gradient-danger btn-lg col-3" v-if="parent" @click="removeCategory">{% trans 'Remove Genre' %}</button>
			    <button class="btn btn-gradient-primary btn-lg col-3">{% trans 'Create Genre' %}</button>
			</div>
		    </div>
		</form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="https://cdn.jsdelivr.net/npm/@riophae/vue-treeselect@0.0.38/dist/vue-treeselect.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@riophae/vue-treeselect@0.0.38/dist/vue-treeselect.min.css">
<script>
 Vue.component('treeselect', VueTreeselect.Treeselect)

 app = new Vue({
     el: '#vue',
     delimiters: ['[[', ']]'],
     data: {
	 parent: null,
	 name: null,
	 categories: [],
	 normalizer(node) {
             return {
		 id: node.id,
		 label: node.name,
		 children: node.children,
             }
	 },
     },
     mounted() {
	 this.getGenres();
     },
     methods: {
	 getGenres() {
             axios
		 .get('/api/genre/')
		 .then(response => {
		     console.log(JSON.stringify(response.data));
		     this.categories = response.data;
		 })
		 .catch(error => {
		     console.log(error)
		     this.makeToast('danger', 'Error', error);
		     return false
		 })
	 },
	 addCategory: function(event) {
	     axios
		 .post('/api/addGenre/',{
		     parent: this.parent,
		     name: this.name
		 })
		 .then(response => {
		     this.makeToast('success', 'Success', "Category successfully inserted");
		     this.getGenres()
		     this.parent = this.name = null;
		 })
		 .catch(error => {
		     this.makeToast('danger', 'Error', error);
		 })
	     // event.target.reset();
	 },
	 removeCategory: function(event) {
	     this.$bvModal.msgBoxConfirm('{% trans "Please confirm that you want to delete everything." %}', {
		 title: 'Please Confirm',
		 size: 'sm',
		 buttonSize: 'sm',
		 okVariant: 'danger',
		 okTitle: 'YES',
		 cancelTitle: 'NO',
		 footerClass: 'p-2',
		 hideHeaderClose: false,
		 centered: true
             })
		 .then(value => {
		     this.confirm = value
		     if (this.confirm) {
			 axios
			     .post('/api/removeGenre/', {
				 cat: this.parent
			     })
			     .then(response => {
				 this.makeToast('success', 'Success', "Category successfully removed");
				 this.getGenres()
				 this.parent = null;
			     })
			     .catch(error => {
				 this.makeToast('danger', 'Error', error);
			     })
			 // event.target.reset();
		     }
		 })
		 .catch(err => {
		     // An error occurred
		 })
	 }
     }
 })
</script>
{% endblock %}
