{% load static %}
{% load i18n %}
<html lang="en">
    <head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Zero Day Entertainment | Admin {% block title %}{% endblock %}</title>
	<link rel="stylesheet" href="{% static 'panel/assets/vendors/mdi/css/materialdesignicons.min.css' %}">
	<link rel="stylesheet" href="{% static 'panel/assets/vendors/css/vendor.bundle.base.css' %}">
	<link rel="stylesheet" href="{% static 'panel/assets/css/style.css' %}">
	<link rel="stylesheet" href="{% static 'panel/steps.css' %}">
	<link rel="stylesheet" href="{% static 'panel/style.css' %}">

	<!-- NON STATICS -->
	<link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
	<link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css" />
	
    </head>
    <body>
	<div class="container-scroller">
	    {% include 'secret/_navbar.html' %}
	    <div class="container-fluid page-body-wrapper">
		{% include 'secret/_sidebar.html' %}
		<div class="main-panel">
		    <div class="content-wrapper">
			{% block content %}
			{% endblock %}
		    </div>
		    {% include 'secret/_footer.html' %}
		</div>
	    </div>
	</div>
	<script src="{% static 'panel/assets/vendors/js/vendor.bundle.base.js' %}"></script>
	<script src="{% static 'panel/assets/vendors/chart.js/Chart.min.js' %}"></script>
	<script src="{% static 'panel/assets/js/off-canvas.js' %}"></script>
	<script src="{% static 'panel/assets/js/hoverable-collapse.js' %}"></script>
	<script src="{% static 'panel/assets/js/misc.js' %}"></script>
	<script src="{% static 'panel/assets/js/dashboard.js' %}"></script>
	<script src="{% static 'panel/assets/js/todolist.js' %}"></script>
	
	<!-- NON STATIC -->
	<script src="//unpkg.com/vue@latest/dist/vue.min.js"></script>
	<script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js" integrity="sha256-S1J4GVHHDMiirir9qsXWc8ZWw74PHHafpsHp5PXtjTs=" crossorigin="anonymous"></script>
	
	<script type="text/javascript">
	 axios.defaults.xsrfCookieName = 'csrftoken';
	 axios.defaults.xsrfHeaderName = "X-CSRFToken";
	 axios.defaults.withCredentials = true;
	</script>
	<script type="text/javascript" src="{% static 'panel/global.js' %}"></script>
	{% block script %}
	{% endblock %}
    </body>
</html>
