{% extends 'secret/layout.html' %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}Home{% endblock %}

{% block content %}
<div class="page-header">
    <h3 class="page-title">
        <span class="page-title-icon bg-gradient-primary text-white mr-2">
            <i class="mdi mdi-home"></i>
        </span>{% trans 'Statements' %}</h3>
</div>

<div class="row">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">{% trans "Add Statement" %}</h4>
                <p class="card-description"> {% trans "Please fill the form. These statements will be 3-months period" %}
                </p>
                <form method="post">
		    {% csrf_token %}
		    {{ form|crispy }}
		    <button type="submit" class="float-right btn-lg btn-gradient-success">Create</button>
		</form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
{% endblock %}
