{% extends 'secret/layout.html' %}
{% load i18n %}
{% load static %}
{% block title %}Home{% endblock %}

{% block content %}
<div class="page-header">
    <h3 class="page-title">
        <span class="page-title-icon bg-gradient-primary text-white mr-2">
            <i class="mdi mdi-home"></i>
        </span> {% trans 'Statements' %}
    </h3>
    <nav aria-label="breadcrumb">
        <ul class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">
                <a class="btn btn-sm btn-gradient-primary" href="{% url 'secret:statement-add' %}"><i class="mdi mdi-plus"></i>{% trans "New Statement" %}</a>
            </li>
        </ul>
    </nav>
</div>

<div class="row" id="vue">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">{% trans "Your Statements" %}</h4>
                <p class="card-description"> {% trans "All statements is here. You can see all the your distributions' statements. It will be 3 months report" %}
                </p>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>{% trans "Album" %}</th>
                            <th>{% trans "Revenue" %}</th>
                            <th>{% trans "Date" %}</th>
			    <th>{% trans "Status" %}</th>
			    <th>{% trans 'Ops' %}</th>
                        </tr>
                    </thead>
                    <tbody>
			{% for s in object_list %}
			<tr>
			    <td>{{ s.album }}</td>
			    <td>{{ s.revenue }}</td>
			    <td>{{ s.date }}</td>
			    <td>{% if s.status == 0 %}<label class="badge badge-danger">{% trans "Pending" %}</label>{% endif %}{% if s.status == 1 %}<label class="badge badge-success">{% trans "Statement Received" %}</label>{% endif %}</td>
			    <td>
				<div class="row float-left">
				    <div class="col">
					<form method="post" action="{% url 'secret:statement-update' s.pk %}">
					    {% csrf_token %}
					    <input value="1" type="hidden" name="status"/>
					    <button class="btn btn-sm btn-outline-success" type="submit" value="Update"><i class="mdi mdi-check text-success"></i></button>
					</form>
				    </div>
				    <div class="col">
					<form method="post" ref="deleteForm" action="{% url 'secret:statement-delete' s.pk %}" class="m-0">
					    {% csrf_token %}
					</form>
					<button class="btn btn-sm btn-outline-danger" @click="confirmMsg"><i class="mdi mdi-delete-forever text-danger"></i></button>
				    </div>
				</div>
			    </td>
			</tr>
			{% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
 app = new Vue({
     el: '#vue',
     delimiters: ['[[', ']]'],
     data: {
	 confirm: false,
     },
     methods: {
	 confirmMsg() {
             this.$bvModal.msgBoxConfirm('Please confirm that you want to delete everything.', {
		 title: 'Please Confirm',
		 size: 'sm',
		 buttonSize: 'sm',
		 okVariant: 'danger',
		 okTitle: 'YES',
		 cancelTitle: 'NO',
		 footerClass: 'p-2',
		 hideHeaderClose: false,
		 centered: true
             })
		 .then(value => {
		     this.confirm = value
		     if (this.confirm) {
			 this.$refs.deleteForm.submit()
		     }
		 })
		 .catch(err => {
		     // An error occurred
		 })
	 }
     }
 })
</script>
{% endblock %}
