{% extends 'secret/layout.html' %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Home{% endblock %}

{% block content %}
<div class="page-header">
    <h3 class="page-title">
        <span class="page-title-icon bg-gradient-primary text-white mr-2">
            <i class="mdi mdi-home"></i>
        </span> {% trans 'Add Statistic' %}</h3>
</div>

<div class="row" id="vue">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">{% trans "New Statistic" %}</h4>
                <p class="card-description"> {% trans "Please fill the form." %}
                </p>
		
		<form method="post" novalidate>
		    {% csrf_token %}

		    <div id="div_id_album" class="form-group">
			<label for="id_album" class=" requiredField">Album<span class="asteriskField">*</span></label>
			<div class="">
			    <select name="album" v-model="album" @change="getTracksAndPlatform(album)" class="custom-select form-control" required id="id_album">
				<option value="" selected>---------</option>
				{% for o in albums %}
				<option value="{{ o.pk }}" selected>{{ o.title }} by {{ o.artist.name }}</option>
				{% endfor %}
			    </select>
			</div>
		    </div>

		    <div id="div_id_track" class="form-group">
			<label for="id_track" class=" requiredField">{% trans "Track" %}<span class="asteriskField">*</span></label>
			<div class="">
			    <b-form-select name="track" v-model="track" :options="tracks" required id="id_track"></b-form-select>
			</div>
		    </div>
		    <div id="div_id_platform" class="form-group">
			<label for="id_platform" class=" requiredField">
			    {% trans "Platform" %}<span class="asteriskField">*</span> </label>
			<div class="">
			    <b-form-select name="platform" v-model="platform" :options="platforms" required id="id_platform"></b-form-select>
			</div>
		    </div>
		    <div id="div_id_stream" class="form-group">
			<label for="id_stream" class=" requiredField">
			    {% trans "Stream" %}<span class="asteriskField">*</span> </label>
			<div class="">
			    <input type="number" name="stream" class="numberinput form-control" required id="id_stream"> </div>
		    </div>
		    <div id="div_id_download" class="form-group">
			<label for="id_download" class=" requiredField">
			    {% trans "Download" %}<span class="asteriskField">*</span> </label>
			<div class="">
			    <input type="number" name="download" class="numberinput form-control" required id="id_download"> </div>
		    </div>
		    <div id="div_id_revenue" class="form-group">
			<label for="id_revenue" class=" requiredField">
			    {% trans "Revenue" %}<span class="asteriskField">*</span> </label>
			<div class="">
			    <input type="number" name="revenue" class="numberinput form-control" required id="id_revenue"> </div>
		    </div>
		    <div id="div_id_date" class="form-group">
			<label for="id_date" class=" requiredField">
			    {% trans "Date" %}<span class="asteriskField">*</span> </label>
			<div class="">
			    <input type="date" name="date" class="dateinput form-control" required id="id_date"> </div>
		    </div>

		    <button type="submit" class="float-right btn-lg btn-gradient-success">{% trans "Create" %}</button>
		</form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
 app = new Vue({
     el: '#vue',
     delimiters: ['[[', ']]'],
     data: {
	 album: "",
	 track: "",
	 tracks: [],
	 platform: "",
	 platforms: [],
     },
     methods: {
	 getTracksAndPlatform(album) {
	     if (album) {
		 axios
		     .get('/api/loadTracks/' + album + '/')
		     .then(response => {
			 this.tracks = response.data;
		     })
		     .catch(error => {
			 console.log(error)
			 this.makeToast('danger', 'Error', error);
			 return false
		     })
		 axios
		     .get('/api/loadPlatforms/' + album + '/')
		     .then(response => {
			 this.platforms = response.data;
		     })
		     .catch(error => {
			 console.log(error)
			 this.makeToast('danger', 'Error', error);
			 return false
		     })
	     }
	 },
     }
 })
</script>
{% endblock %}
