{% extends 'secret/layout.html' %}
{% load i18n %}
{% load static %}
{% block title %}Home{% endblock %}

{% block content %}
<div class="page-header">
    <h3 class="page-title">
        <span class="page-title-icon bg-gradient-primary text-white mr-2">
            <i class="mdi mdi-home"></i>
        </span>{% trans 'Statements' %}</h3>
</div>

<div class="row" id="vue">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">{% trans "Add Statement" %}</h4>
                <p class="card-description"> {% trans "Please fill the form. These statements will be 3-months period" %}
                </p>
		<form method="post">
	            {% csrf_token %}
		    <div id="div_id_album" class="form-group">
			<label for="id_album" class=" requiredField">
			    {% trans "Album" %}<span class="asteriskField">*</span>
			</label>
			<div class="">
			    <select name="album" v-model="album" @change="getSplitPays(album)" class="custom-select form-control" required id="id_album">
				<option value="" selected>{% trans "Please Select..." %}</option>
				{% for o in albums %}
				<option value="{{ o.pk }}">{{ o.title }} by {{ o.artist.name }}</option>
				{% endfor %}
			    </select>
			</div>
                    </div>

                    <div id="div_id_revenue" class="form-group">
			<label for="id_revenue" class=" requiredField">
			    {% trans "Revenue" %}<span class="asteriskField">*</span>
			</label>
			<div class="">
			    <input type="number" name="revenue" class="numberinput form-control" required id="id_revenue">
			</div>
                    </div>
                    
                    <div id="div_id_date" class="form-group">
			<label for="id_date" class=" requiredField">
			    {% trans "Date" %}<span class="asteriskField">*</span>
			</label>
			<div class="">
                            <input type="date" name="date" class="dateinput form-control" required id="id_date">
                        </div>
                    </div>

		    <div v-if="splitTracks.length > 0 && splitTracks[0].count > 1" class="pt-4">
			<b-alert show variant="warning">{% trans "Warning" %}: {% trans "This album contains split paid tracks. You need to type the earnings of these tracks separately. Date will be the same and revenue will be calculated" %}</b-alert>
		    </div>

		    <div v-if="splitTracks.length > 0 && splitTracks[0].count == 1" class="pt-4">
			<b-alert show variant="warning">{% trans "Warning" %}: {% trans "This album contains 1 track and it's only track is split pay. You do not need to type the earnings of this track separately" %}</b-alert>
		    </div>
		    
		    <p v-if="splitTracks.length > 0 && splitTracks[0].count > 1" class="card-description h4 pt-4">
			{% trans 'Split Pay' %}
		    </p>
		    
		    <div class="row" v-if="splitTracks.length > 0 && splitTracks[0].count > 1">
			<div class="col-6" v-for="(list, i) in splitTracks">
			    <div class="form-group">
				<label :for="'attr_' + list.id">{% trans "Revenue" %} <small class="text-muted">[[ list.name ]]</small>:</label>
				<input type="text" :name="'attr_' + list.id" maxlength="100" class="form-control" required :id="'attr_' + list.id">
			    </div>
			</div>
		    </div>
		    
		    <button type="submit" class="float-right btn-lg btn-gradient-success">{% trans "Create" %}</button>
		</form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
 app = new Vue({
     el: '#vue',
     delimiters: ['[[', ']]'],
     data: {
	 album: "",
	 splitTracks: [],
	 splitVals: [],
     },
     methods: {
	 getSplitPays(album) {
	     if (album) {
		 axios
		     .get('/api/getSplitPays/' + album + '/')
		     .then(response => {
			 this.splitTracks = response.data;
			 console.log('lengh: ', this.splitTracks.length)
			 console.log(JSON.stringify(response.data))
		     })
		     .catch(error => {
			 console.log(error)
			 this.makeToast('danger', 'Error', error);
			 return false
		     })
	     }
	     else {
		 this.splitTracks = []
	     }
	 },
     }
 })
</script>
{% endblock %}
