{% extends 'secret/layout.html' %}
{% load i18n %}
{% load static %}
{% block title %}Home{% endblock %}

{% block content %}
<div class="page-header">
    <h3 class="page-title">
        <span class="page-title-icon bg-gradient-primary text-white mr-2">
            <i class="mdi mdi-home"></i>
        </span> {% trans 'Users' %}</h3>
    <nav aria-label="breadcrumb">
        <ul class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">
                <a class="btn btn-sm btn-gradient-primary" href="{% url 'secret:user-register' %}"><i class="mdi mdi-plus"></i>{% trans "New User" %}</a>
            </li>
        </ul>
    </nav>
</div>

<div class="row">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">{% trans "All Users" %}</h4>
                <p class="card-description"> {% trans "All users is here. You want to create new user, please click the button." %}
                </p>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>{% trans "Username" %}</th>
                            <th>{% trans "Email" %}</th>
			    <th>{% trans "First Name" %}</th>
			    <th>{% trans "Last Name" %}</th>
			    <th>{% trans "Staff" %}</th>
			    <th>{% trans "SuperUser" %}</th>
                        </tr>
                    </thead>
                    <tbody>
			{% for user in object_list %}
			<tr>
			    <td>{{ user.username }}</td>
			    <td>{{ user.email }}</td>
			    <td>{{ user.first_name }}</td>
			    <td>{{ user.last_name }}</td>
			    <td>{{ user.is_staff }}</td>
			    <td>{{ user.is_superuser }}</td>
			</tr>
			{% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
{% endblock %}
