{% extends "base_generic.html" %}

{% block content %}

<div class="container">
    {% if validlink %}
    <div class="py-3 text-center">
	<div class="col-12 text-center mb-3">
            <div class="" style="font-family: 'Indie Flower', cursive; font-size:5em; color: #84d9d2;">Tabudo</div>
	</div>
      <h2>Password Reset form</h2>
      <p class="lead">Please enter (and confirm) your new password</p>
    </div>
    {{ form.non_field_errors }}
    <div class="row">
      <div class="col-md-12 order-md-1">
        <form method="post">
          {% csrf_token %}
          <div class="form-group">
                {{ field.errors }}
                <div class="form-group">   
                    <label for="id_new_password1">New Password:</label>
                    <input type="password" name="new_password1" class="form-control" required id="id_new_password1">
                    <label for="id_new_password2">Confirm Password:</label>
                    <input type="password" name="new_password2" class="form-control" required id="id_new_password2">
                </div>
                {% if field.help_text %}
                <small id="emailHelp" class="form-text text-muted">{{ field.help_text|safe }}</small>
                {% endif %}
          </div>
          <button class="btn btn-primary btn-lg btn-block" value="Change my password" type="submit">Change Password</button>
        </form>
      </div>
    </div>
    {% else %}
    <div class="py-3 text-center">
      <img class="d-block mx-auto mb-4" src="https://getbootstrap.com/docs/4.1/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
      <h2>Password Reset form</h2>
      <p class="lead">Password reset failed: The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
    </div>
    {% endif %}
</div>

{% endblock %}
