{% extends 'panel/layout.html' %}
{% load i18n %}
{% load static %}
{% block title %}Home{% endblock %}

{% block content %}
<div class="page-header">
    <h3 class="page-title">
        <span class="page-title-icon bg-gradient-primary text-white mr-2">
            <i class="mdi mdi-home"></i>
        </span> {% trans 'Distribution' %}</h3>
    <nav aria-label="breadcrumb">
        <ul class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">
                <a class="btn btn-sm btn-gradient-primary" href="{% url 'panel:addDist' %}"><i class="mdi mdi-plus"></i>New Distribution</a>
            </li>
        </ul>
    </nav>
</div>


<div class="row" id="app">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
		<div class="multi-step checked">
		    <ul class="multi-step-list">
			<li class="multi-step-item active" @click="step = 1" v-bind:class="{current: step === 1, completed: step === 2 | step === 3 | step === 4 & error1 === false , error: error1 }">
			    <div class="item-wrap">
				<p class="item-title">Step One</p>
				<p class="item-subtitle">Tracks</p>
			    </div>
			</li>
			<li class="multi-step-item active" @click="step = 2" v-bind:class="{current: step === 2, completed: step === 3 | step === 4 & error2 === false , error: error2 }">
			    <div class="item-wrap">
				<p class="item-title">Step Two</p>
				<p class="item-subtitle">Details</p>
			    </div>
			</li>
			<li class="multi-step-item active" @click="step = 3" v-bind:class="{current: step === 3, completed: step === 4 & error3 === false , error: error3}">
			    <div class="item-wrap">
				<p class="item-title">Step Three</p>
				<p class="item-subtitle">Partners</p>
			    </div>
			</li>
			<li class="multi-step-item active" @click="step = 4" v-bind:class="{current: step === 4 & error4 === false , error: error4}">
			    <div class="item-wrap">
				<p class="item-title">Step Four</p>
				<p class="item-subtitle">Preview</p>
			    </div>
			</li>
		    </ul>
		</div>

		<div v-if="step === 1">
		    <div class="card mb-4">
			<div class="card-body">
			    <h5 class="card-title">Tracks
				<a href="#" v-b-modal.modal-prevent-closing class="btn btn-sm btn-gradient-info float-right">
				    <i class="mdi mdi-plus"></i>Add Track
				</a>
			    </h5>
			    <h6 class="card-subtitle mb-2 text-muted">Please add your tracks</h6>
			    <div v-if="filesLoad.length > 0">
				<b-table striped hover :items="filesLoad" :fields="filesFields">
				    <template v-slot:cell(split)="data">
					<span v-for="d in data.value">
					    <b-badge>[[ d.artist ]] %[[ d.rate ]]</small></b-badge>
					</span>
				    </template>
				</b-table>
			    </div>
			    <div v-else>
				<div class="alert alert-warning" role="alert">
				    {% trans 'Any tracks here yet. Please add any track with button' %}
				</div>
			    </div>
			    
			</div>
		    </div>

		    <b-modal
			id="modal-prevent-closing"
			ref="modal"
			title="Add Track"
			@show="resetModal"
			@hidden="resetModal"
			    @ok="handleOk"
		    >
			<form ref="form" @submit.stop.prevent="handleSubmit">
			    <div class="form-group">
				<label for="name">Track Title</label>
				<input type="text" class="form-control" id="name" name="name">
			    </div>

			    <div class="form-group">
				<label for="name">Media File</label>
				<b-form-file
				    lang="{% get_current_language as LANG_CODE %}{{LANG_CODE}}"
				    id="media"
				    name="media"
				    v-model="files"
				    placeholder="{% trans 'Choose...' %}"
				    drop-placeholder="{% trans 'Drop file here...' %}"
				    accept="audio/x-wav"
				    multiple>
				    <template slot="file-name" slot-scope="{ names }">
					<b-badge>[[ names[0] ]]</b-badge>
					<b-badge v-if="names.length > 1" class="ml-1">
					    + [[ names.length - 1 ]] {% trans 'More files' %}
					</b-badge>
				    </template>
				</b-form-file>
			    </div>

			    <div class="form-group">
				<label for="name">Split Pay</label>
				<table class="table col">
				    <tbody>
					<tr v-for="(row, index) in rows">
					    <td><b-form-input id="input-small" size="sm" v-model="row.email" placeholder="Email"></b-form-input></td>
					    <td><b-form-input id="input-small" size="sm" v-model="row.rate" min=1 max=100 type="number" placeholder="Rate"></b-form-input></td>
					    <td>
						<a class="btn btn-gradient-danger text-white btn-sm" @click="removeElement(index);" style="cursor: pointer">
						    <i class="mdi mdi-playlist-remove"></i>
						</a>
						<a class="btn btn-gradient-primary text-white btn-sm" @click="addRow" style="cursor: pointer">
						    <i class="mdi mdi-plus"></i>
						</a>
					    </td>
					</tr>
				    </tbody>
				</table>
			    </div>

			</form>
		    </b-modal>
		    <button class="float-right btn-lg btn-gradient-primary" @click.prevent="next()">Next</button>
		</div>
		
		<div v-if="step === 2">
		    <div class="card mb-2">
			<div class="card-body">
			    <h5 class="card-title">Distribution Details
			    </h5>
			    <h6 class="card-subtitle text-muted">Please fill the form</h6>
			    <form class="row">
				<div class="form-group col-6">
				    <label for="exampleInputEmail1">Media Type</label>
				    <b-form-select v-model="media.type" :options="mediaTypeOptions"></b-form-select>
				    <small id="emailHelp" class="form-text text-muted">Select media type ie. Single, EP, Album</small>
				</div>
				<div class="form-group col-6">
				    <div class="form-group">
					<label for="name">[[ selectText ]] Cover</label>
					<b-form-file
					    lang="{% get_current_language as LANG_CODE %}{{LANG_CODE}}"
					    v-model="media.cover"
					    name="cover"
					    @change="onFileChange"
					    placeholder="{% trans 'Choose...' %}"
					    drop-placeholder="{% trans 'Drop file here...' %}"
					    aria-describedby="input-cover-help"
					    accept="image/jpeg"
					>
					    <template slot="file-name" slot-scope="{ names }">
						<b-badge>[[ names[0] ]]</b-badge>
						<b-badge v-if="names.length > 1" class="ml-1">
						    + [[ names.length - 1 ]] {% trans 'More files' %}
						</b-badge>
					    </template>
					</b-form-file>
					<b-form-text id="input-live-help">Your cover image should at least 300px x 300px</b-form-text>
				    </div>
				</div>
				<div class="form-group col-6">
				    <label for="mediaTitle">Title</label>
				    <b-form-input v-model="media.title" :placeholder="'Your ' + selectText  + 'title'"></b-form-input>
				</div>
				<div class="form-group col-6">
				    <label for="mediaTitle">Artist Name</label>
				    {% if user.is_superuser or user.is_stuff %}
				        <b-form-input v-model="media.artist" placeholder="Main Artist Name"></b-form-input>
				    {% else %}
				    {% if artist.name %}
					<b-form-input v-model="media.artist" placeholder="Main Artist Name" readonly></b-form-input>
					<small id="artistHelp" class="form-text text-muted">Your artist name is default now. You cannot change</small>
                                    {% else %}
                                        <b-form-input v-model="media.artist" placeholder="Main Artist Name"></b-form-input>
			            {% endif %}
			            {% endif %}
				</div>
				<div class="form-group col-6">
				    <label for="mediaGenre">Genre</label>
				    <b-form-input v-model="media.genre" placeholder="Genre"></b-form-input>
				</div>
				<div class="form-group col-6">
				    <label for="mediaSubGenre">Subgenre</label>
				    <b-form-input v-model="media.subGenre" placeholder="Subgenre"></b-form-input>
				</div>
				<div class="form-group col-6">
				    <label for="mediaRecordLabel">Record Label</label>
				    <b-form-input v-model="media.recordLabel" :placeholder="selectText + 'Record Label'"></b-form-input>
				</div>
				<div class="form-group col-6">
				    <label for="mediaReleaseDate">Release Date <i id="input-date-help" class="mdi mdi-help"></i></label>
				    <b-tooltip target="input-date-help">Release data can be at least after 2-weeks</b-tooltip>
				    <v-date-picker :input-props='{input: ["L", "DD-MM-YYYY"], placeholder: "DD-MM-YYYY - DD-MM-YYYY"}' color="purple" v-model='media.releaseDate' :min-date='new Date("{{ 2weekLater|date:"Y-m-d" }}")' />
				    
				</div>
			    </form>
			</div>
		    </div>
		    
		    <button class="float-left btn-lg btn-gradient-danger" @click.prevent="prev()">Previous</button>
		    <button class="float-right btn-lg btn-gradient-primary" @click.prevent="next()">Next</button>
		</div>
		<div v-if="step === 3">
		    <div class="card mb-4">
			<div class="card-body">
			    <h5 class="card-title">Platforms
			    </h5>
			    <h6 class="card-subtitle mb-2 text-muted">Select which platforms that you want to release <span v-if="selectText">your [[ selectText ]]</span></h6>
			    
			    <b-form-group>
				<div class="row pl-3 pt-2">
				    <b-form-checkbox v-model="media.platforms"
						     v-for="(platform, index) in mediaPlatformsOptions"
						     class="col-3"
						     :value="platform.value"
						     switch>[[ platform.text ]]
				    </b-form-checkbox>
				</div>
			    </b-form-group>

			    <!--
				 <h6 class="card-subtitle mb-2 text-muted">Select if you want to promate these platforms</h6>
				 <b-form-group>
				 <div class="row pl-3 pt-2">
				 <b-form-checkbox class="col-3"
				 v-model="media.featuredPlatforms"
				 v-for="(platform, index) in mediaFeaturedPlatformsOptions"
				 :value="platform.value"
				 switch>[[ platform.text ]]
				 </b-form-checkbox>
				 </div>
				 </b-form-group>
			    -->
			</div>
		    </div>
		    
		    <button class="float-left btn-lg btn-gradient-danger" @click.prevent="prev()">Previous</button>
		    <button class="float-right btn-lg btn-gradient-primary" @click.prevent="next()">Next</button>
		</div>
		<div v-if="step === 4">
		    <div class="card mb-4">
			<div class="card-body">
			    <h5 class="card-title">Preview
			    </h5>
			    <b-row>
				<b-col cols="2">
				    <b-card-img :src="coverUrl" class="rounded-0" style="max-width: 13rem;"></b-card-img>				    
				</b-col>
				<b-col cols="4">
				    <h5>[[ media.title ]]</h5>
				    <h6 class="text-muted">[[ media.artist ]]</h6>
				    <b-list-group flush>
					<br>Label:  [[media.recordLabel]]</br>
					<br>Genre: [[media.genre]] [[media.subGenre]]</br>
					<br>Release: [[ media.releaseDate ]]</br>
					<br>Type: [[ selectText ]]</br>
					<br>Platforms: [[ platformsText ]]</br>
				    </b-list-group>
				</b-col>
				<b-col cols="6">
				    <h6>Tracks</h6>
				    <div v-if="filesLoad.length > 0">
					<b-table striped hover :items="filesLoad" :fields="filesFields">
					    <template v-slot:cell(split)="data">
						<span v-for="d in data.value">
						    <b-badge>[[ d.artist ]] %[[ d.rate ]]</small></b-badge>
						</span>
					    </template>
					</b-table>
				    </div>
				    <div v-else>
					<div class="alert alert-warning" role="alert">
					    {% trans 'Any tracks here yet. Please add any track with button' %}
					</div>
				    </div>
				</b-col>
			    </b-row>
			    
			    
			</div>
		    </div>
		    
		    <button class="float-left btn-lg btn-gradient-danger" @click.prevent="prev()">Previous</button>
		    <button class="float-right btn-lg btn-gradient-success" @click="submitForm">Save</button>
		</div>

            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script src='https://unpkg.com/v-calendar@next'></script>

<script>
 Vue.directive('$model', {
     bind: function (el, binding, vnode) {
	 el.oninput = () => (vnode.context[binding.expression] = el.value)
     }
 })
 
 app = new Vue({
     delimiters: ['[[', ']]'],
     el: '#app',
     data: {
	 step: 1,
	 error1: false,
	 error2: false,
	 error3: false,
	 error4: false,
	 files: null,
	 filesLoading: [],
	 filesLoad: [],
	 filesFields: ['name', 'fileName', 'size', 'split'],
	 name: '',
         nameState: null,
         submittedNames: [],
	 coverUrl: null,
	 rows: [
	     {
		 email: null,
		 rate: null,
	     }
	 ],
	 media: {
	     type: null,
	     cover: null,
	     title: null,
	     artist: '{% if not user.is_superuser or user.is_stuff %}{% if artist %}{{ artist.name|escapejs }}{% endif %}{% endif %}',
	     genre: null,
	     subGenre: null,
	     recordLabel: null,
	     releaseDate: new Date('{{ 2weekLater|date:"Y-m-d" }}'),
	     platforms:  [],
	     featuredPlatforms: [],
	 }, 
         mediaTypeOptions: [
	     { value: null, text: 'Please select an option', disabled: true },
	     { value: 0, text: '{% trans 'Single'|escapejs %}' },
	     { value: 1, text: '{% trans 'EP'|escapejs %}' },
	     { value: 2, text: '{% trans 'Album'|escapejs %}' }
         ],	 
	 mediaPlatformsOptions: [
	     {% for platform in platforms %}
	     { value:{{ platform.id|escapejs }}, text:'{{ platform.name|escapejs }}' },
	     {% endfor %}
         ],
	 mediaFeaturedPlatformsOptions: [
	     { value: 0, text:  'iTunes' },
             { value: 1, text:  'Spotify' },
	 ]
     },
     mounted() {
	 
     },
     methods: {
	 prev() {
	     this.step--;
	 },
	 next() {
	     this.step++;
	 },
	 checkFormValidity() {
             const valid = this.$refs.form.checkValidity()
             this.nameState = valid ? 'valid' : 'invalid'
             return valid
	 },
	 resetModal() {
             this.name = ''
             this.nameState = null
	     this.rows = [
		 {
		     email: null,
		     rate: null,
		 }
	     ]
	 },
	 handleOk(bvModalEvt) {
             // Prevent modal from closing
             bvModalEvt.preventDefault()
             // Trigger submit handler
             this.handleSubmit()
	 },
	 handleSubmit() {
             // Exit when the form isn't valid
             if (!this.checkFormValidity()) {
		 return
             }
             // Push the name to submitted names

	     this.filesLoading = []
	     var form = this.$refs["form"]
	     var formData = new FormData(form);
	     formData.append('splitPay', JSON.stringify(this.rows));
	     
	     axios
		 .post('/trackUpload/',formData,{
		     headers: {
			 'Content-Type': 'multipart/form-data'
		     }
		 })
		 .then(response => {
		     console.log(JSON.stringify(response.data));
		     this.filesLoad.push(response.data);
		     this.makeToast('success', 'Success', "File successfully uploaded");
		 })
		 .catch(error => {
		     console.log(error)
		     this.makeToast('danger', 'Error', error.response.data.Message);
		     return false
		 })
             // Hide the modal manually
             this.$nextTick(() => {
		 this.$refs.modal.hide()
             })
	 },
	 addRow: function() {
             var elem = document.createElement('tr');
	     
             this.rows.push({
		 email: "",
		 rate: 0,
             });
	 },
	 removeElement: function(index) {
	     if (this.rows.length > 1) {
		 this.rows.splice(index, 1);
	     }
	 },
	 onFileChange(e) {
	     const file = e.target.files[0];
	     this.coverUrl = URL.createObjectURL(file);
	 },
	 submitForm(){
             let formData0 = new FormData();
             formData0.append('cover', this.media.cover);
	     formData0.append('mType', this.media.type);
	     formData0.append('title', this.media.title);
	     formData0.append('artist', this.media.artist);
	     formData0.append('genre', this.media.genre);
	     formData0.append('subGenre', this.media.subGenre);
	     formData0.append('recordLabel', this.media.recordLabel);
	     formData0.append('releaseDate', this.media.releaseDate.toISOString().split('T')[0]);
	     formData0.append('tracks', JSON.stringify(this.filesLoad));
	     formData0.append('platforms', JSON.stringify(this.media.platforms));

	     axios
		 .post('/distribution/add/',
		       formData0,
		       {
			   headers: {
			       'Content-Type': 'multipart/form-data'
			   }
		       })
		 .then(function(){
		     console.log('SUCCESS!!');
		     window.location.href = '{% url 'panel:distribution' %}'
		 })
		 .catch(function(){
		     console.log('FAILURE!!');
		     this.makeToast('danger', 'Error', error.response.data.Message);
		 });
	 },
     },
     computed: {
	 filteredItems() {
	     return this.items.filter(item => {
		 return item.name.toLowerCase().indexOf(this.filter.toLowerCase()) > -1
	     })
	 },
	 selectText(){
	     if (this.media.type != null) {
      		 return this.mediaTypeOptions[this.media.type + 1].text + ' '
	     }
	     else {
		 return '';
	     }
	 },
	 platformsText(){
	     returnVal = '';
	     for (i=0; i < this.media.platforms.length; i++) {
      		 returnVal += this.mediaPlatformsOptions[this.media.platforms[i]-1].text;
		 if(i < this.media.platforms.length - 1){ returnVal += ", ";}
	     }
	     return returnVal;
	 }
     },
 })
</script>
{% endblock %}
