{% extends 'panel/layout.html' %}
{% load i18n %}
{% load static %}
{% block title %}Home{% endblock %}

{% block content %}
<div class="page-header">
    <h3 class="page-title">
        <span class="page-title-icon bg-gradient-primary text-white mr-2">
            <i class="mdi mdi-home"></i>
        </span> {% trans 'Distribution' %}</h3>
    <nav aria-label="breadcrumb">
        <ul class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">
                <a class="btn btn-sm btn-gradient-primary" href="{% url 'panel:addDist' %}"><i class="mdi mdi-plus"></i>New Distribution</a>
            </li>
        </ul>
    </nav>
</div>

<div class="row">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Your Distributions</h4>
                <p class="card-description"> All distirbutions is here. You want to create new, please click the button.
                </p>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Artist</th>
                            <th>Record Label</th>
                            <th>Release Date</th>
			    <th>Platforms</th>
			    <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
			{% for dist in dists %}
			<tr>
			    <td>{{ dist.title }}</td>
			    <td>{{ dist.artist }}</td>
			    <td>{{ dist.recordLabel }}</td>
			    <td>{{ dist.releaseDate }}</td>
			    <td>{% for platform in dist.platforms.all %}{{ platform }}{% endfor %}</td>
			    <td><label class="badge badge-danger">Pending</label></td>
			</tr>
			{% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
{% endblock %}
