.page-item.active .page-link {
    background-color: #b66dff !important;
    border-color: #b66dff;
}

.mdi-2x {
    font-size: 1.7em !important;
}

.nav-item a {
    color: #b66dff;
}

.nav-tabs .nav-link.active {
    color: #b66dff !important;
    font-weight: 700 !important;
}

input[type="date"]
{
    display:block;
  
    /* Solution 1 */
     -webkit-appearance: textfield;
    -moz-appearance: textfield;
    min-height: 1.2em; 
  
    /* Solution 2 */
    /* min-width: 96%; */
}
