{% extends "base_generic.html" %}
{% block content %}
  <div class="container">
    <div class="py-3 text-center">
	<div class="col-12 text-center mb-3">
	    <div class="" style="font-family: 'Indie Flower', cursive; font-size:5em; color: #84d9d2;">Tabudo</div>
	</div>
      <h2>Password Reset form</h2>
    </div>
    {{ form.non_field_errors }}
    <div class="row">
      <div class="col-md-12 order-md-1">
        <form method="post">
          {% csrf_token %}
          {% for field in form %}
          <div class="form-group">
                {{ field.errors }}
                <div class="form-group">   
                    <label for="id_email">Email Adress:</label>
                    <input type="email" name="email" autofocus class="form-control" required id="id_email"> 
                </div>
                {% if field.help_text %}
                <small id="emailHelp" class="form-text text-muted">{{ field.help_text|safe }}</small>
                {% endif %}
          </div>
          {% endfor %}
          <button class="btn btn-primary btn-lg btn-block" value="Reset password" type="submit">Send Email</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
