{% extends "base_generic.html" %} {% block content %}
<div class="container">
    <div class="py-3 text-center">
        <div class="col-12 text-center mb-3">
            <div class="" style="font-family: 'Indie Flower', cursive; font-size:5em; color: #84d9d2;">PolNet Çagrı Yön. Sis.</div>
        </div>
        <h2>Şifre Değiştirme Formu</h2>
    </div>
    {{ form.non_field_errors }}
    <div class="row">
        <div class="col-md-12 order-md-1 text-center">
            <h1>Şifreniz başarıyla değiştirildi.</h1>
            <a href="/panel">Ticari devam et bekleme yapma</a>
        </div>
    </div>
</div>
{% endblock %}