{% load static %}
{% load i18n %}
<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
	<li class="nav-item nav-profile">
	    <a href="#" class="nav-link">
		<div class="nav-profile-image">
		    <img src="https://api.adorable.io/avatars/75/{{ user.email }}" alt="profile">
		    <span class="login-status online"></span>
		    <!--change to offline or busy as needed-->
		</div>
		<div class="nav-profile-text d-flex flex-column">
		    <span class="font-weight-bold mb-2">{{ user }}</span>
		</div>
		<i class="mdi mdi-bookmark-check text-success nav-profile-badge"></i>
	    </a>
	</li>
	<li class="nav-item">
	    <a class="nav-link" href="{% url 'label:index' %}">
		<span class="menu-title">{% trans 'Dashboard' %}</span>
		<i class="mdi mdi-home menu-icon"></i>
	    </a>
	</li>
	<li class="nav-item">
	    <a class="nav-link" href="{% url 'label:distribution' %}">
		<span class="menu-title">{% trans 'Distribution' %}</span>
		<i class=" mdi mdi-library-music menu-icon"></i>
	    </a>
	</li>
	<li class="nav-item">
	    <a class="nav-link" href="{% url 'label:contentID' %}">
		<span class="menu-title">{% trans 'Content ID' %}</span>
		<i class="mdi mdi-youtube menu-icon"></i>
	    </a>
	</li>
	<li class="nav-item">
	    <a class="nav-link" href="{% url 'label:statistic' %}">
		<span class="menu-title">{% trans 'Statistic' %}</span>
		<i class="mdi mdi-chart-areaspline menu-icon"></i>
	    </a>
	</li>
	<li class="nav-item">
	    <a class="nav-link" href="{% url 'label:statement' %}">
		<span class="menu-title">{% trans 'Statement' %}</span>
		<i class="mdi mdi-bank menu-icon"></i>
	    </a>
	</li>
    </ul>
</nav>
