{% extends 'label/layout.html' %}
{% load i18n %}
{% load static %}
{% block title %}Home{% endblock %}

{% block content %}
<div class="page-header">
    <h3 class="page-title">
        <span class="page-title-icon bg-gradient-primary text-white mr-2">
            <i class="mdi mdi-home"></i>
        </span> {% trans 'Statements' %}</h3>
</div>

<div class="row">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">{% trans "Your Statements" %}</h4>
                <p class="card-description"> {% trans "All statements is here. You can see all the your distributions' statements. It will be 3 months report" %}
                </p>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>{% trans "Album" %}</th>
                            <th>{% trans "Revenue" %}</th>
                            <th>{% trans "Date" %}</th>
			    <th>{% trans "Status" %}</th>
                        </tr>
                    </thead>
                    <tbody>
			{% for s in object_list %}
			<tr>
			    <td>{{ s.album }}</td>
			    <td>{{ s.revenue }}</td>
			    <td>{{ s.date }}</td>
			    <td>{% if s.status == 0 %}<label class="badge badge-danger">{% trans "Pending" %}</label>{% endif %}{% if s.status == 1 %}<label class="badge badge-success">{% trans "Statement Received" %}</label>{% endif %}</td>
			</tr>
			{% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
{% endblock %}
